{% extends "layout.html" %}

{% block title %}
    Create List
{% endblock %}

{% block main %}

<div class="container">

    <!--Title Header-->
    <h2>{{ listname }}</h2> <h5>List Total: {{ totalcost | usd }} </h5> 
    
    <!--Share Link-->
    <button class="btn btn-sm" id="shareButton" value="{{ link }}">Copy Share Link</button>
    <div id="copyStatus" class="small"></div>

    <!--Add item form-->
    <form method="POST" action="{{ url_for('add_item') }}" class="form-inline">
      <div class="row">
        <div class="col">
          <label for="name">Item Name:</label>
          <input type="text" class="form-control form-control-sm" id="name" name="name" required>
        </div>
        
        <div class="col">
          <label for="qty">Quantity:</label>
          <input type="number" class="form-control form-control-sm" id="qty" name="qty" min="1" step="1" value = "1" required>
        </div>
        <div class="col">
          <label for="cost_each">Cost each:</label>
          <input type="number" class="form-control form-control-sm" id="price-input" name="costEach" placeholder="$0.00" min="0.01" step="any">
        </div>
      </div>
      <div class="col">
        <button type="submit" class="btn btn-success">Add Item</button>
      </div>
    </form>
    
    <br>

    <!--Item table-->
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Item</th>
          <th>Quantity</th>
          <th>Price Each</th>
          <th>Line Price</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for item in items %}
        <tr class="trow">

          <!-- Item name, qty, price each-->
          <td>{{ item[0] }}</td>
          <td>{{ item[1] }}</td>
          <td>{{ item[2] | usd }}</td>

          <!-- Calculate total price of line -->
          {% set priceEach = item[2] | float %}
          {% set qty = item[1] | float %}
          {% set totalPrice = priceEach * qty %}
          <td>{{ totalPrice | usd }}</td>
          <td>
            
            <!-- Remove Item button -->
            <form method="POST" action="/remove_item">
                <button type="submit" name="item" value="{{ item[3] }}" class="btn btn-sm hidden">
                  <img class="trash-icon "src="static/icons/trash.png" alt="Delete Item">
                </button></td>
            </form>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <script src="/static/listscripts.js"></script>
  
{% endblock %}

{% block footer %}
  <!-- Delete List button -->
  <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#deleteModal">
  Delete List
  </button>

  <!-- Delete List Modal -->
  <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Confirmation</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Are you sure you want to delete this list?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <form method="POST" action="/delete_list">
            <button type="submit" name="delete_list" class="btn btn-danger">Delete List</button></td>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
